<div class="parallax">
  <div class="container-fluid h-100">
    <div class="row justify-content-md-center align-items-md-center h-100">
      <div class="col text-center">
        <h1>Welcome to the Angular Chat</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-md-center align-items-md-center">
    <div class="col text-center">
      <h3>To start chatting, please <a href="/login">login</a> with your user.</h3>
    </div>
  </div>
</div>
